<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">List of all friends</h1>
  </div>
</div>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">E-mail</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <th scope="row">1</th>
        <td><%= friend.first_name %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

